body {
  background-color: ghostwhite;

}

h1 {
  font-family: 'Fascinate Inline', cursive;
  margin: 0;
  font-size: 3em;
  color: #EA277A;
}

h2 {
  font-family: 'Princess Sofia', cursive;

}

p {
  font-family: 'Dosis', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #EA277A;
  background-color: ghostwhite;
  padding: 2em;
  border: 3px solid #EA277A;
}

.container > img {
  width: 70%;
  height: 10%;
  padding-bottom: 3em;
  border-radius: 1em;

}

.container > p {
  width: 55%;
  text-align: center;
  padding-top: 1em;
}

button {
  width: 20%;
  height: 15%;
  background-color: #EA277A;
  color: ghostwhite;
  border-radius: 1em;
  font-family: 'Princess Sofia', cursive;
  font-size: 1.4em;
}

#modal, #modal2, #modal3 {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}


#modal-textbox, #modal-textbox2, #modal-textbox3 {
	background-color: ghostwhite;
	height: 350px;
	width: 550px;
	border-radius: 2px;
  margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#modal-textbox3 {
  padding: 2em;
}

#modal-textbox > h1, #modal-textbox2 > h1, #modal-textbox3 > h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#modal-textbox > button, #modal-textbox2 > button, #modal-textbox3 > button {
  padding: 0.5em;
  width: 30%;
  text-align: center;
}

a {
  padding-top: 0.75em;
}
