body {
  border: 6px groove ghostwhite;
  background: #FF512F;
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
  background: linear-gradient(to right, #DD2476, #FF512F);

}

h1 {
  font-family: 'Fascinate Inline', cursive;
  margin: 0;
  font-size: 5em;
  color: ghostwhite;
  text-align: center;
}

h2 {
  font-family: 'League Script', cursive;
  font-size: 2.5em;
  color: #DED0D8;
  font-weight: bolder;

}

p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: ghostwhite;
  padding: 2em;
}


.banner > img {
  width: 45%;
  border-radius: 4em;
  align-self: flex-start;

}

.bannerRight > p {
  width: 80%;
  align-self: flex-end;
}

.container > p {
  width: 55%;
  text-align: center;
  padding-top: 1em;
  color: ghostwhite;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bannerRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bannerRight > button {
  width: 30%;
  height: 15%;
  border-radius: 1em;
  align-self: center;
  font-size: 2.5em;
  background: #DD2476;
}
button {
  width: 30%;
  height: 15%;
  color: ghostwhite;
  border: 1px grooved;
  font-family: 'Dosis', cursive;
  font-size: 1.4em;
  background: #FF512F;
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
  background: linear-gradient(to right, #DD2476, #FF512F);
}

#modal, #modal2, #modal3 {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}


#modal-textbox, #modal-textbox2, #modal-textbox3 {
	background-color: ghostwhite;
	height: 350px;
	width: 550px;
	border-radius: 2px;
  margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#modal-textbox3 {
padding-top: 1.5em;
padding-bottom: 1.5em;
}

#modal-textbox > h1, #modal-textbox2 > h1, #modal-textbox3 > h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: #EA277A;
}

#modal-textbox > button, #modal-textbox2 > button, #modal-textbox3 > button {
  padding: 0.5em;
  width: 30%;
  text-align: center;
}

a {
  padding-top: 0.75em;
  color: #FF512F;;
}

dd {
  font-family: 'Dosis', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  padding-bottom: 1em;
}

dd > img {
  width: 16em;
  height: 20em;
  padding-bottom: 1em;
}

.comedyH1 {
  display: none;
  text-align: center;
  padding-bottom: 0.5em;
  margin: 0;
  color: #DED0D8;
}

.recipe1topRight > a, .recipe2topRight > a {
  color: ghostwhite;
}

.recipe1, .recipe2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #FF512F;
  padding: 2em;
  display: none;

}

.recipe1top {
  display: flex;
  flex-direction: row;
}

.recipe1 > p, .recipe2 > p  {
  padding: 2em;
  color: ghostwhite;
}

.recipe1top, .recipe2top  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px dotted ghostwhite;
  padding: 2em;


}

.recipe1topRight > h2, .recipe2topRight > h2 {
    font-size: 4em;
    color: ghostwhite;
}

.recipe1topRight > p, .recipe2topRight > p {
    font-size: 1.5em;
    color: ghostwhite;
}

.recipe1topRight, .recipe2topRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe1topRight > img, .recipe2topRight > img {
  border-radius: 4em;
  width: 50%;
  padding-bottom: 1em;
}

dl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#plot {
  width: 50%;
}

#chooseAgain {
  align-self: flex-end;
  color: ghostwhite;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;

}

.allMovieData {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.poster {
  display: flex;
  align-items: flex-end;
  padding-left: 5em;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.recipeIntro {
  background: ghostwhite;
}

.recipeIntro > h1 {
  color: #EA277A;
  padding-top: 0.5em;
  font-size: 3em;
}

.recipeBottom {
  display: flex;
  flex-direction: row;
  justify-content:

}

.recipeBottomLeft {
  align-self: flex-start;
  border: 2px dotted ghostwhite;
}

.recipeBottomRight {
  align-self: center;
  justify-content: center;
  padding-left: 2em;
}

 @media (max-width: 600px) {
   h1 {
     font-size: 3em;
     text-align: center;
   }
   h2 {
     font-size: 2em;
   }
   p {
     font-size: 1em;
     text-align: center;
     padding-right: 2em;
   }

   .banner, .bannerRight {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   .banner > img {
     align-self: center;
     width: 75%;
   }
   .bannerRight > button {
     font-size: 2em;
       width: 50%;
       height: 25%;
   }
   .comedyH1 {
     font-size: 2em;
   }
   .allMovieData {
     flex-direction: column;
   }
   #poster > img {
     align-self: center;
     justify-content: center;
     padding-right: 5.5em;
   }
   .recipeIntro > h1 {
     font-size: 2em;
     padding-top: 1em;
   }
   #plot {
     width: 75%;
   }
   .movieDetails {
     text-align: center;
   }
   .recipe1topRight > h2, .recipe2topRight > h2 {
     font-size: 2em;
   }
   .recipeBottomLeft > img {
     width: 100%;
   }
   .recipe1topRight > a, .recipe2topRight > a {
     font-size: 1em;
   }
   .recipeBottomLeft {
     text-align: center;
     font-size: 0.5em;
   }
   #modal-textbox > h1, #modal-textbox2 > h1, #modal-textbox3 > h1 {
     font-size: 1.5em;
   }
 }
